form.form(@submit.prevent="submitForm")
  .form__elem
    .form__row
      label.form__block
        .form__text.form__text--name Введите ваше имя
        .form__wrap.form__wrap--name(:class="{error: !nameValid}")
          .form__icon.form__icon--name
            +icon("user", "form-icon user-icon-form")
          input.form__input.form__input--name(
            type="text" 
            name="name" 
            autocomplete="off" 
            placeholder="Ковальчук Дмитрий" 
            onFocus="this.placeholder=''"
            @input="validateName"
            )
          .form-error.form__text--name-error {{nameError}}
      label.form__block
        .form__text.form__text-email Введите ваш email
        .form__wrap.form__wrap--email(:class="{error: !emailValid}")
          .form__icon.form__icon--email
            +icon("envelope", "form-icon envelope-icon-form")
          input.form__input.form__input--email(
            type="text" 
            name="email" 
            autocomplete="off" 
            placeholder="loftschool@study.com" 
            onFocus="this.placeholder=''"
            @input="validateEmail"
            )
          .form__text--email-error {{emailError}}
    .form__row.form__row--textarea
      label.form__inline
        .form__text.form__text-msg Сообщение к письму
        .form__wrap--textarea.form__wrap--message(:class="{error: !messageValid}")
          textarea.form__input.form__input--textarea(
            name="comment" 
            max-cols="30" 
            max-rows="10" 
            placeholder="Требуется ваша помощь в создании сайта.\nИнтересуют сроки и цена вопроса" 
            onFocus="this.placeholder=''"
            @input="validateMessage"
            )
          .form__icon.form__icon--msg
            +icon("message", "form-icon message-icon-form")
          .form__text--message-error {{messageError}}
    .form__button
      button(@click.prevent="submitForm").form__button--ref Отправить
  .overlay(:class="{disabled: overlayHidden}" @click="hideOverlay")
    .overlay__content
      .overlay__message {{resultMessage}}
      button.overlay__closq(@click="hideOverlay") Закрыть