include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.star
          .container.star__container
            header.star__header
              .star__logo
                .logo BA
              .star__menu
                - var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                nav.menu
                  ul.menu__items
                    each item in menu
                      li.menu__item
                        a.menu__link #{item}
              .star__links
                - var icons = ["insta", "vk", "github"];
                ul.socials
                  each item in icons
                    li.socials__item
                      a.socials__link
                        +icon(item, "socials__icon")        
            .star__content
              .username Мила <br> Божевская
            .star__buttons
              a.scroll-btn Скролл
        section.about
          .container
            .about__container
              .about__left
                .user
                  .user__avatar
                    .avatar
                      +image("content/user.jpg", "user photo", "avatar__pic")
                  .user__data
                    -
                      var rows = [
                        ["Проживаю", "Херсон"],
                        ["Возраст", "25 лет"],
                        ["Родилась", "11 августа"]
                      ];
                    table.user__text
                      table.user__text-table
                        each row in rows
                          tr.user__text-row
                            each cell in row
                              td.user__text-td #{cell}
              .about__right
                .about__textwelcome Привет, меня зовут
                .about__nameuser Мила Божевская
                .about__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__postscr Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .values
        .tringles
          svg.tringles__item.tringles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.tringles__item.tringles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="1000,0 1000,100 0,100")
        .container
          .values__text
            .values__text-title Чем я могу быть вам полезна?
            .values__text-desc Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          .values__content
            - 
              var skills = [
                ["Frontend", [
                  ["HTML5", "-25s"],
                  ["CSS3", '-13s'],
                  ["Javascript", '-75s'],
                  ["Jquery и Vue.js", '-30s']]
                ],
                ["Workflow", [
                  ["GIT", '-13s'],
                  ["Terminal", '-25s'],
                  ["Gulp", '-50s'],
                  ["Webpack", '-40s']]
                ]
              ];
            ul.skills-circles
              each row in skills
                li.skills-circles__item
                  .skills-row
                    .skills-row__title #{row[0]}
                    .skills-row__desc
                      ul.skills
                        each skill in row[1]
                          li.skills__item
                            .skill
                              svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                                defs.defs
                                  linearGradient(x1="0%" y1="50%" x2="100%" y2="100%")#skill__gradient
                                    stop(offset="60%" stop-color="#5500f2").skill__fill--start
                                    stop(offset="100%" stop-color="#ad00ed").skill__fill--stop
                                circle(
                                  r="67" cx="100" cy="100"
                                ).skill__circle.skill__circle--under
                                circle(
                                  r="67" cx="100" cy="100" stroke="url(#skill__gradient" transform="rotate(-180 100 100)" style=`animation-delay: ${skill[1]};`
                                ).skill__circle.skill__circle--above
                              .skill__title #{skill[0]}



      //- .maincontent
      //-   +image('content/user.jpg', 'user-pic')
      //-   +icon('link', 'link-class')
      //-   .icon-bg